@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

:root {
  /*========== Colors ==========*/

  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
  --very-dark-blue-o: hsl(229, 31%, 21%, 0.8);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Rubik", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.5rem;
  --big-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 1.125rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-med: 500;
  --font-bold: 700;
  --font-black: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== BASE ===============*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  color: var(--very-dark-blue);
}

h1,
h2,
h3 {
  color: var(--very-dark-blue);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--very-dark-blue);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  --max-width: 1110px;
  --padding: 1.75rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.button {
  padding: 0.8em;
  background-color: #fff;
  color: var(--soft-red);
  border: 2px solid var(--soft-red);
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--soft-red);
  color: #fff;
  border: 2px solid var(--soft-red);
}

.button-w {
  padding: 0.8em;
  background-color: #fff;
  color: var(--soft-blue);
  border: 2px solid var(--soft-blue);
  border-radius: 5px;
  cursor: pointer;
}

.button-w:hover {
  background-color: #fff;
  color: var(--very-dark-blue);
  border: 2px solid var(--very-dark-blue);
}

.button-bl {
  padding: 0.8em;
  background-color: var(--soft-blue);
  color: #fff;
  border: 2px solid var(--soft-blue);
  border-radius: 5px;
  cursor: pointer;
}

.button-bl:hover {
  background-color: #fff;
  color: var(--soft-blue);
  border: 2px solid var(--soft-blue);
}

.button-nav {
  padding: 0.8em;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.button-nav:hover {
  background-color: hsl(229, 31%, 21%, 0.5);
  color: #fff;
  border: 2px solid #fff;
}

/* Header */

.header__columnas {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: var(--very-dark-blue-o);
  backdrop-filter: blur(10px);
  top: 100%;
  right: 0;
  width: 100%;
  height: 100%;
  transition: right 0.3s;
}

.header__nav-c {
  display: flex;
  justify-content: space-between;
  padding-block: 1.5em;
}

.header__logo {
  padding: 2em;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__close-h {
  display: block;
}

.header__close-c {
  padding: 2em;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation__link {
  color: #fff;
  text-transform: uppercase;
  font-size: var(--big-font-size);
}

.navigation__link:hover {
  color: var(--soft-red);
}

.navigation__links {
  border-top: 1px solid gray;
  padding: 1rem;
  width: 80%;
}

.navigation__links a {
  display: flex;
  justify-content: center;
}

.navigation__links:last-of-type {
  border-bottom: 1px solid grey;
  padding: 1rem;
  width: 80%;
}

.navigation__button {
  margin-top: 2rem;
  width: 80%;
}

.header__socials {
  display: flex;
  column-gap: 4rem;
  margin-top: 5rem;
  margin-inline: auto;
  font-size: 2rem;
  column-gap: 2rem;
}

.bxl-facebook-square,
.bxl-twitter {
  color: #fff;
}

.bxl-facebook-square:hover,
.bxl-twitter:hover {
  color: var(--soft-red);
}

.show-menu {
  top: 0;
}

/* Home */

.home__columnas {
  display: flex;
  flex-direction: column-reverse;
}

.home__title {
  text-align: center;
  padding-block: 2rem;
}

.home__description {
  text-align: center;
  color: grey;
  font-size: 1rem;
  line-height: 1.7;
  margin-inline: 2.5rem;
}

.home__buttons {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  padding-block: 2rem;
}

/* Features */

.features__columnas {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.features__description,
.features__accordion-description {
  font-size: 1rem;
  color: grey;
  padding-bottom: 2rem;
}

.features__accordion-tab {
  font-weight: var(--font-regular);
  color: grey;
  padding-block: 0.5em;
  border-top: 2px solid rgb(192, 192, 192);
  border-bottom: 2px solid rgb(192, 192, 192);
  cursor: pointer;
}

.features__title,
.features__accordion-title {
  font-size: 1.5rem;
  padding-block: 1.5rem;
}

.features__accordion-img {
  margin-top: 2rem;
}

.features__accordion-button {
  margin-bottom: 2rem;
}

.features__accordion-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 0;
  transition: all 0.25s ease;
}
