@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

:root {
  /*========== Colors ==========*/

  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
  --very-dark-blue-o: hsl(229, 31%, 21%, 0.8);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Rubik", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.5rem;
  --big-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 1.125rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-med: 500;
  --font-bold: 700;
  --font-black: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== BASE ===============*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  color: var(--very-dark-blue);
}

h1,
h2,
h3 {
  color: var(--very-dark-blue);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--very-dark-blue);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  --max-width: 1110px;
  --padding: 1.75rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.button {
  padding: 0.8em;
  background-color: #fff;
  color: var(--soft-red);
  border: 2px solid var(--soft-red);
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--soft-red);
  color: #fff;
  border: 2px solid var(--soft-red);
}

.button-w {
  padding: 0.8em;
  background-color: #fff;
  color: var(--soft-blue);
  border: 2px solid var(--soft-blue);
  border-radius: 5px;
  cursor: pointer;
}

.button-w:hover {
  background-color: #fff;
  color: var(--very-dark-blue);
  border: 2px solid var(--very-dark-blue);
}

.button-bl {
  padding: 0.8em;
  background-color: var(--soft-blue);
  color: #fff;
  border: 2px solid var(--soft-blue);
  border-radius: 5px;
  cursor: pointer;
}

.button-bl:hover {
  background-color: #fff;
  color: var(--soft-blue);
  border: 2px solid var(--soft-blue);
}

.button-red {
  padding: 0.8em;
  background-color: var(--soft-red);
  color: #fff;
  border: 2px solid var(--soft-red);
  border-radius: 5px;
  cursor: pointer;
}

.button-red:hover {
  background-color: var(--soft-red);
  color: #fff;
  border: 2px solid var(--soft-red);
}

.button-nav {
  padding: 0.8em;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.button-nav:hover {
  background-color: hsl(229, 31%, 21%, 0.5);
  color: #fff;
  border: 2px solid #fff;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  transition: background 0.3s;
  z-index: 100;
}

.bg-header {
  box-shadow: 0 4px 8px hsla(180, 12%, 4%, 0.3);
}

.header__columnas {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: var(--very-dark-blue-o);
  backdrop-filter: blur(10px);
  top: 100%;
  right: 0;
  width: 100%;
  height: 100%;
  transition: right 0.3s;
}

.header__nav-c {
  display: flex;
  justify-content: space-between;
  padding-block: 1.5em;
}

.header__logo {
  padding: 2em;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__close-h {
  display: block;
  cursor: pointer;
}

.header__close-c {
  cursor: pointer;
  padding: 2em;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation__link {
  color: #fff;
  text-transform: uppercase;
  font-size: var(--big-font-size);
}

.navigation__link:hover {
  color: var(--soft-red);
}

.navigation__links {
  border-top: 1px solid gray;
  padding: 1rem;
  width: 80%;
}

.navigation__links a {
  display: flex;
  justify-content: center;
}

.navigation__links:last-of-type {
  border-bottom: 1px solid grey;
  padding: 1rem;
  width: 80%;
}

.navigation__button {
  margin-top: 2rem;
  width: 80%;
}

.header__socials {
  display: flex;
  column-gap: 4rem;
  margin-top: 5rem;
  margin-inline: auto;
  font-size: 2rem;
  column-gap: 2rem;
}

.bxl-facebook-square,
.bxl-twitter {
  color: #fff;
}

.bxl-facebook-square:hover,
.bxl-twitter:hover {
  color: var(--soft-red);
}

.show-menu {
  top: 0;
}

main {
  padding-top: 5rem;
}

/* Home */

.home__columnas {
  display: flex;
  flex-direction: column-reverse;
}

.home__title {
  text-align: center;
  padding-block: 2rem;
}

.home__description {
  text-align: center;
  color: grey;
  font-size: 1rem;
  line-height: 1.7;
  margin-inline: 2.5rem;
}

.home__buttons {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  padding-block: 2rem;
}

/* Features */

.features {
  padding-top: 4rem;
}

.features__columnas {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.features__description,
.features__accordion-description {
  font-size: 1rem;
  color: grey;
  padding-bottom: 2rem;
}

.features__accordion-tab {
  font-weight: var(--font-regular);
  color: grey;
  padding-block: 0.5em;
  /* border-top: 2px solid rgb(192, 192, 192); */
  border-bottom: 2px solid rgb(192, 192, 192);
  cursor: pointer;
}

.features__accordion-tab:hover {
  color: red;
  border-bottom: 3px solid red;
}

.features__title,
.features__accordion-title {
  font-size: 1.5rem;
  padding-block: 1.5rem;
}

.features__accordion-img {
  margin-top: 2rem;
}

.features__accordion-button {
  margin-bottom: 2rem;
}

.features__accordion-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 0;
  transition: all 0.25s ease;
}

/* Download */

.download__columnas {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.download__title,
.faq__title {
  font-size: 1.5rem;
}

.download__description,
.faq__description {
  font-size: 1rem;
  color: grey;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}

.download__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin-inline: auto;
  padding: 3em 1em;
  border-radius: 10px;
  margin-bottom: 3rem;
  box-shadow: 0px 0px 10px 5px rgba(202, 202, 202, 0.75);
  transition: 0.3s;
  cursor: pointer;
}

.download__group:hover {
  transform: scale(1.05);
}

.download__group-img {
  width: 40%;
}

.download__group-title {
  margin-top: 1rem;
}

.download__group-description {
  font-size: 1rem;
  color: grey;
  margin-top: 1rem;
}

.download__group-dots {
  margin-top: 3rem;
}

.download__group-button {
  font-size: 1rem;
  margin-top: 1rem;
}

/* FAQ */

.faq__right {
  display: flex;
  flex-direction: column;
}

.faq__accordion-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  height: 0;
  transition: all 0.25s ease;
}

.faq__accordion-tab {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(192, 192, 192);
  padding-block: 0.5em;
  cursor: pointer;
}

.faq__accordion-description {
  text-align: left;
  font-size: 1rem;
  color: grey;
  padding-block: 2.5rem;
}

.bx-chevron-down {
  font-size: 2rem;
  color: var(--soft-blue);
}

.faq__accordion-button {
  width: 50%;
  margin-inline: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/* CONTACT */

.contact {
  background-color: var(--soft-blue);
  padding-block: 3rem;
}

.contact__columnas {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact__description {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.contact__title {
  color: #fff;
  font-weight: 500;
  padding-block: 2rem;
}

.contact__form-input {
  width: 100%;
  border: none;
  border-radius: 5px 5px 0 0;
  padding-block: 1em;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: grey;
}

.contact__form-button {
  width: 100%;
  margin-top: 2rem;
  font-size: 0.9rem;
}

.color-red {
  background-color: var(--soft-red);
  color: #fff;
  padding: 0.7em 2.3em;
  border-radius: 0 0 5px 5px;
  font-size: 1rem;
}

.contact__form-inputred {
  border: 2px solid var(--soft-red);
}

/* FOOTER */

.footer {
  background-color: var(--very-dark-blue);
  color: #fff;
  padding-block: 2rem;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: var(--soft-red);
}

.footer__fila {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__logo {
  width: 55%;
  margin-inline: auto;
}

.navigation__footer-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding-block: 2rem;
  text-transform: uppercase;
}

.footer__socials-list {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  font-size: 2rem;
}

.footer__info {
  display: flex;
  justify-content: center;
  font-size: 0.825rem;
  padding-top: 2rem;
}

@media screen and (min-width: 45em) {
  .download__right {
    display: flex;
    gap: 1rem;
  }

  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact__form-input {
    width: 65%;
  }

  .contact__form-label {
    width: 65%;
    align-items: center;
  }

  .contact__form-button {
    width: 65%;
  }

  .footer__logo {
    width: 30%;
  }
}

@media screen and (min-width: 60em) {
  .nav {
    display: flex;
    align-items: center;
  }

  .header__columnas {
    flex-direction: row-reverse;
    top: 0;
    background-color: transparent;
    backdrop-filter: none;
    position: initial;
  }

  .header__nav,
  .header__close-h,
  .header__close-c,
  .header__logo {
    display: none;
  }

  .navigation__list {
    flex-direction: row;
  }

  .navigation__link {
    color: var(--very-dark-blue);
  }

  .navigation__link:hover {
    color: var(--soft-red);
  }

  .navigation__links {
    width: 50%;
    padding: 0;
    border-top: none;
  }

  .navigation__links:last-of-type {
    padding: 0;
    border-bottom: none;
    width: 50%;
  }

  .navigation__button {
    width: 20rem;
    margin-top: auto;
    color: #fff;
    background-color: var(--soft-red);
    border: 2px solid var(--soft-red);
  }

  .navigation__button:hover {
    color: var(--soft-red);
    background-color: #fff;
    border: 2px solid var(--soft-red);
  }

  .header__socials {
    display: none;
  }

  .home {
    margin-top: 2rem;
  }

  .home__columnas {
    flex-direction: row;
  }

  .home__title {
    font-size: 2.5rem;
  }

  .home__title,
  .home__description {
    text-align: left;
    margin-inline: auto;
  }

  .home__left {
    width: 50%;
  }

  .home__buttons {
    justify-content: left;
  }

  .features__description,
  .download__description,
  .faq__description {
    width: 50%;
    margin-inline: auto;
  }

  .features__accordion-tab {
    width: 30%;
    margin-inline: auto;
  }

  .features__accordion-content {
    flex-direction: row;
    column-gap: 5rem;
  }

  .features__accordion__text {
    width: 50%;
    margin-block: auto;
    text-align: left;
  }

  .download__right {
    gap: 7rem;
  }

  #group-mid {
    margin-top: 1rem;
  }

  #group-bottom {
    margin-top: 2rem;
  }

  .faq__columnas {
    text-align: center;
  }

  .faq__right {
    width: 50%;
    margin-inline: auto;
  }

  .contact__form {
    width: 50%;
    margin-inline: auto;
  }

  .footer__fila {
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
  }

  .footer__navigation {
    display: flex;
    column-gap: 30rem;
  }

  .footer__logo {
    width: inherit;
    margin-inline: initial;
  }

  .footer__socials {
    margin-block: auto;
  }

  .navigation__footer-list {
    flex-direction: row;
    column-gap: 1rem;
  }
}
